_tmpres/
src/_android/build/
src/_win/Debug/
src/_win/.vs/
src/_android/obj/
src/_android/.gradle/
src/_android/.idea/compiler.xml
src/_android/.idea/
src/_android/libs/armeabi/
src/_android/assets/
bin/_win/
src/_win/iPhoneGame.VC.db
src/_android/local.properties
doc/tempFile.xlsx
doc/promotionscreenshot/ipadnew/promotion_05.jpg
src/_win/ipch/IPHONEGAME-e931e848/IPHONEGAME-23f3d309.ipch
